// Helpers
$trs: all 200ms ease-in-out;
// Colors
$color-primary: #2e8b57;
$color-primary-light: #42b574;
$color-text: #333;
$color-item-active: #def0df91;
$color-red: #d93846;
$color-blue: #0d6efd;
$color-white: #fff;
// Animations
$fadeInUp: 300ms fadeInUp ease-in-out forwards;
$fadeInDown: 300ms fadeInDown ease-in-out forwards;
$fadeIn: 300ms fadeIn ease-in-out forwards;
$fadeInLeft: 300ms fadeInLeft ease-in-out forwards;
$fadeInRight: 300ms fadeInRight ease-in-out forwards;